<div ng-controller="FerdController as ferd">
  
  <header-directive></header-directive><!-- /header -->

  <div class="banner">
    <h2 class="banner__heading">Configure your <span>Ferd</span></h2>
  </div><!-- /banner -->

  <main class="main">
    <div class="container container--pad container--narrow">
      
      <section class="section section--m-lg" ng-show="ferd.showSetup">
        <h2 class="section__heading">Set up Ferd</h2>

        <p class="section__paragraph">You have no key...you need to add it! Visit <a href="https://{{ ferd.user.slackOrganization }}/services/new/bot" target="_blank">your organization page</a> to add a bot, and when you're done, paste the api key in below.</p>

        <form action="#" class="form" ng-submit="ferd.submitKey($event)">
          <div class="form__field">
            <label for="apikey">API Key:</label>
            <input type="text" id="apikey" name="apikey" class="form__text" ng-model="ferd.apikey">
          </div>
          <div class="form__footer">
            <button type="submit" class="btn btn--primary">Submit</button>
          </div>
        </form>
      </section><!-- /section setup -->
      
      <section class="section section--m-lg" ng-show="ferd.showSettings">
        <h2 class="section__heading">Your current configuration</h2>
        
          <form ng-submit="ferd.updateModules($event, ferd.selectedModules)" class="form">
            <div class="fconfig">
              <div class="fconfig__entry" ng-repeat="module in ferd.botModules">
                <h3 class="fconfig__title">{{ module }} <small><a ui-sref="marketplace">(view)</a></small></h3>
                <div class="fconfig__toggle">
                  <input id="{{ module }}" class="toggle toggle--flat" type="checkbox" checklist-value="module" checklist-model="ferd.selectedModules">
                  <label for="{{ module }}">{{ module }}</label>
                </div><!-- fconfig__toggle -->
              </div><!-- fconfig entry -->
            </div>
            <div class="form__footer">
              <button type="submit" class="btn btn--primary">Save Settings</button>
            </div>
          </form>
      </section><!-- /section showSettings currentConfig  -->
      
      <section class="section section--m-lg" ng-show="ferd.showSettings">
        <h2 class="section__heading">Change your API key</h2>
        <form action="#" ng-submit="ferd.submitKey($event)" class="form">
          <div class="form__field">
            <label for="newkey">New key:</label>
            <input type="text" id="newkey" name="newkey" ng-model="ferd.apikey" class="form__text">
          </div>
          <div class="form__footer">
            <button type="submit" class="btn btn--primary">Change Key</button>
          </div>
        </form>
      </section><!-- /section showSettings changeKey  -->

    </div><!-- /container -->
  </main><!-- /main -->

  <footer-directive></footer-directive><!-- /footer -->

</div>