<div ng-controller="MarketplaceController as marketplace">

  <header-directive></header-directive><!-- /header -->

  <div class="banner">
    <h2 class="banner__heading">Browse the <span>marketplace</span></h2>
  </div><!-- /banner -->

  <main class="main">
    <div class="container container--pad container--wide">

      <section class="section section--m-sm">
        <form action="#" class="form">
          <div class="form__field">
            <label for="filter">Filter Modules:</label>
            <input type="text" name="filter" id="filter" class="form__text" ng-model="searchModules">
          </div>
        </form>
      </section>

      <section class="section section--small">
        <div class="grid">
          <div class="grid__inner">
            <div class="grid__item grid__item--33-lg" ng-repeat="module in marketplace.modules | filter: searchModules">
              <div class="module">
                <div class="module__header">
                  <h3 class="module__title">{{ module.title }}</h3>
                  <div class="module__toggle">
                    <input id="{{ module.name }}" class="toggle toggle--flat" type="checkbox">
                    <label for="{{ module.name }}">Toggle module</label>
                  </div>
                </div>
                <div class="module__content">
                  <p>{{ module.description }}</p>
                </div>
                <div class="module__footer">
                  <small><span>added:</span> {{ module.created_at }}</small>
                </div>
              </div><!-- /module -->
            </div><!-- grid__item -->
          </div><!-- grid__inner -->
        </div><!-- /grid -->
      </section>

    </div><!-- /container -->
  </main><!-- /main -->

  <footer-directive></footer-directive><!-- /footer -->

</div>
