<div ng-controller="FerdController as ferd">

  <header-directive></header-directive><!-- /header -->

  <div class="banner">
    <h2 class="banner__heading">Browse the <span>marketplace</span></h2>
  </div><!-- /banner -->

  <main class="main">
    <div class="container container--pad container--wide">

      <section class="section section--m-sm">
        <form action="#" class="form">
          <div class="form__field">
            <div class="form__label">
              <label for="filter">Filter Modules:</label>
            </div>
            <div class="form__input">
              <input type="text" name="filter" id="filter" class="form__text" ng-model="searchModules">
            </div>
          </div>
        </form>
      </section>
      
      <section class="section section--small">
        <alerts-directive alert="ferd.alert" ng-show="ferd.alerts.showAlertForBotSettings"></alerts-directive>
        <form action="#" ng-submit="ferd.setUserBotModules($event)" class="form">
          <div class="form__field" ng-show="ferd.showSettings">
            <button type="submit" class="btn btn--block btn--primary">Save your preferences!</button>
          </div>
          <div class="grid">
            <div class="grid__inner">
              <div class="grid__item grid__item--33-lg" ng-repeat="module in ferd.allBotModules | filter: searchModules">
                <div class="module" ng-class="{'not-active': ferd.userBotModules.indexOf(module.name) < 0}">
                  <div class="module__header">
                    <h3 class="module__title">{{ module.title }}</h3>
                    <div class="module__toggle" ng-show="ferd.showSettings">
                      <input id="{{ module.name }}" class="toggle toggle--flat" type="checkbox" checklist-value="module.name" checklist-model="ferd.userBotModules">
                      <label for="{{ module.name }}">Toggle module</label>
                    </div>
                  </div>
                  <div class="module__content">
                    <p>{{ module.description }}</p>
                  </div>
                  <div class="module__footer">
                    <small><span>added:</span> {{ module.created_at }}</small>
                  </div>
                </div><!-- /module -->
              </div><!-- grid__item -->
            </div><!-- grid__inner -->
          </div><!-- /grid -->
          <div class="form__footer form__footer--special" ng-show="ferd.showSettings">
            <button type="submit" class="btn btn--block btn--primary">Save your preferences!</button>
          </div>
        </form>
      </section>

    </div><!-- /container -->
  </main><!-- /main -->

  <spinner-directive display="ferd.showSpinner"></spinner-directive><!-- /spinner -->

  <footer-directive></footer-directive><!-- /footer -->

</div><!-- /marketplace -->