<div ng-controller="MarketplaceController as marketplace">
  
  <header-directive class="header">
  </header-directive><!-- /header -->
  
  <div class="banner">
    <h2 class="banner__heading">Browse the <span>marketplace</span></h2>
  </div><!-- /banner -->
  
  <main class="main">
    <div class="container container--pad container--wide">

      <div class="grid">
        <div class="grid__row grid__row--pad">
          <div class="grid__item grid__item--33-lg">
            <div class="module">
              <div class="module__header">
                <h3 class="module__title">Yo!</h3>
                <div class="module__toggle">
                  <input id="toggle1" class="toggle toggle--flat" type="checkbox">
                  <label for="toggle1">Toggle module</label>
                </div>
              </div>
              <div class="module__content">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem temporibus natus tenetur veniam saepe necessitatibus accusamus.</p>
              </div>
              <div class="module__footer">
                <small><span>added:</span> September 7th, 2015</small>
              </div>
            </div><!-- /module -->
          </div><!-- /grid item -->
          <div class="grid__item grid__item--33-lg">
            <div class="module">
              <div class="module__header">
                <h3 class="module__title">Bart</h3>
                <div class="module__toggle">
                  <input id="toggle2" class="toggle toggle--flat" type="checkbox">
                  <label for="toggle2">Toggle module</label>
                </div>
              </div>
              <div class="module__content">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem temporibus natus tenetur veniam saepe necessitatibus accusamus.</p>
              </div>
              <div class="module__footer">
                <small><span>added:</span> September 7th, 2015</small>
              </div>
            </div><!-- /module -->
          </div><!-- /grid item -->
          <div class="grid__item grid__item--33-lg">
            <div class="module">
              <div class="module__header">
                <h3 class="module__title">Eliza</h3>
                <div class="module__toggle">
                  <input id="toggle3" class="toggle toggle--flat" type="checkbox">
                  <label for="toggle3">Toggle module</label>
                </div>
              </div>
              <div class="module__content">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem temporibus natus tenetur veniam saepe necessitatibus accusamus.</p>
              </div>
              <div class="module__footer">
                <small><span>added:</span> September 7th, 2015</small>
              </div>
            </div><!-- /module -->
          </div><!-- /grid item -->
        </div><!-- /grid row -->
        <div class="grid__row grid__row--pad">
          <div class="grid__item grid__item--33-lg">
            <div class="module">
              <div class="module__header">
                <h3 class="module__title">Yo!</h3>
                <div class="module__toggle">
                  <input id="toggle4" class="toggle toggle--flat" type="checkbox">
                  <label for="toggle4">Toggle module</label>
                </div>
              </div>
              <div class="module__content">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem temporibus natus tenetur veniam saepe necessitatibus accusamus.</p>
              </div>
              <div class="module__footer">
                <small><span>added:</span> September 7th, 2015</small>
              </div>
            </div><!-- /module -->
          </div><!-- /grid item -->
          <div class="grid__item grid__item--33-lg">
            <div class="module">
              <div class="module__header">
                <h3 class="module__title">Bart</h3>
                <div class="module__toggle">
                  <input id="toggle5" class="toggle toggle--flat" type="checkbox">
                  <label for="toggle5">Toggle module</label>
                </div>
              </div>
              <div class="module__content">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem temporibus natus tenetur veniam saepe necessitatibus accusamus.</p>
              </div>
              <div class="module__footer">
                <small><span>added:</span> September 7th, 2015</small>
              </div>
            </div><!-- /module -->
          </div><!-- /grid item -->
        </div><!-- /grid row -->
      </div><!-- /grid -->

    </div><!-- /container -->
  </main><!-- /main -->

</div>