/* -----------------------------------------------------------------------------

  COMPONENTS - MODULES
  
----------------------------------------------------------------------------- */

/**
 * .module
 * 
 */

.module {
  margin: 0 auto;
  max-width: 540px;
  border-top: solid 5px $color--theme;
  border-left: solid 5px $color--theme;
  border-right: solid 5px $color--theme;
}

.module.not-active {
  border-top: solid 5px $color--neutral-xxlight;
  border-left: solid 5px $color--neutral-xxlight;
  border-right: solid 5px $color--neutral-xxlight;
}

.module,
.module * {
  transition: border 0.2s, color 0.2s, background 0.2s;
}

/**
 * .module__header
 * 
 */

.module__header {
  display: flex;
  align-items: center;
  padding: 1rem;
  border-bottom: solid 5px $color--theme;
}

.module.not-active .module__header {
  border-bottom: solid 5px $color--neutral-xxlight;
}

/**
 * .module__title
 */

.module__title {
  flex: 1;
  color: $color--theme;
}

.module.not-active .module__title {
  color: $color--neutral;
}

/**
 * .module__content
 * 
 */

.module__content {
  padding: 1rem;
  height: 150px;
}

.module__content > p {
  font-size: 1.4rem;
}

/**
 * .module__footer
 * 
 */

.module__footer {
  padding: 1rem;
  background-color: $color--theme;
  text-align: center;
}

.module.not-active .module__footer {
  background-color: $color--neutral-xxlight;
}

.module__footer > small {
  color: #fff;
}

.module__footer > small > span {
  color: $color--theme-dark;
}

.module.not-active .module__footer > small > span {
  color: $color--neutral;
}