/* -----------------------------------------------------------------------------

  COMPONENTS - TOGGLE
  
----------------------------------------------------------------------------- */

/**
 * .toggle
 * 
 */

.toggle {
  position: absolute;
  margin-left: -9999px;
  visibility: hidden;
}

.toggle + label {
  display: block;
  position: relative;
  font-size: 0;
  text-indent: -9999px;
  cursor: pointer;
  outline: none;
  user-select: none;
}

.toggle + label {
  width: 56px;
  height: 30px;
  border-radius: 30px;
  box-shadow: inset 0 0 0 2px $color--neutral-xlight;
  transition: box-shadow 0.2s;
}

.toggle + label::before {
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 12px;
  color: $color--neutral-xlight;
  font-size: 1rem;
  line-height: 30px;
  text-indent: 0;
  content: "off";
}

.toggle + label::after {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 4px;
  margin: auto 0;
  width: 22px;
  height: 22px;
  background-color: $color--neutral-xlight;
  border-radius: 50%;
  transition: transform 0.2s;
  content: "";
}

.toggle:checked + label {
  box-shadow: inset 0 0 0 2px $color--blue;
}

.toggle:checked + label::before {
  top: 0;
  bottom: 0;
  right: auto;
  left: 12px;
  color: $color--blue;
  content: "on";
}

.toggle:checked + label::after {
  background-color: $color--blue;
  transform: translateX(26px);
}