/* -----------------------------------------------------------------------------

  COMPONENT - HAMBURGER ICON
  
----------------------------------------------------------------------------- */

// vars

$button-width: 30px;
$button-height: 30px;
$bar-thickness: 4px;
$button-pad: 2px;
$button-bar-space: 5px;
$button-transistion-duration: 0.2s;

/**
 * .hamburger
 *
 */

.hamburger {
  display: block;
  position: relative;
  overflow: hidden;
  margin: 0;
  padding: 0;
  width: $button-width;
  height: $button-height;
  font-size: 0;
  text-indent: -9999px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  box-shadow: none;
  border-radius: none;
  border: none;
  cursor: pointer;
  transition: background $button-transistion-duration;
}

.hamburger:focus {
  outline: none;
}

.hamburger span {
  display: block;
  position: absolute;
  top: ($button-height / 2) - ($bar-thickness / 2);
  left: $button-pad;
  right: $button-pad;
  height: $bar-thickness;
  background: #fff;
}

.hamburger span::before,
.hamburger span::after {
  position: absolute;
  display: block;
  left: 0;
  width: 100%;
  height: $bar-thickness;
  background-color: #fff;
  content: "";
}

.hamburger span::before {
  top: -$bar-thickness - $button-bar-space;
}

.hamburger span::after {
  bottom: -$bar-thickness - $button-bar-space;
}

/**
 * .hamburger--htx
 * 
 */

.hamburger--htx {
  background: none;
}

.hamburger--htx span {
  transition: background 0s $button-transistion-duration;
}

.hamburger--htx span::before,
.hamburger--htx span::after {
  transition-duration: $button-transistion-duration, $button-transistion-duration;
  transition-delay: $button-transistion-duration, 0s;
}

.hamburger--htx span::before {
  transition-property: top, transform;
}

.hamburger--htx span::after {
  transition-property: bottom, transform;
}

/* active state, i.e. menu open */

.hamburger--htx.is-active span {
  background: none;
}

.hamburger--htx.is-active span::before {
  top: 0;
  transform: rotate(45deg);
}

.hamburger--htx.is-active span::after {
  bottom: 0;
  transform: rotate(-45deg);
}

.hamburger--htx.is-active span::before,
.hamburger--htx.is-active span::after {
  transition-delay: 0s, $button-transistion-duration;
}