/* -----------------------------------------------------------------------------

  COMPONENT - BANNER
  
----------------------------------------------------------------------------- */

/**
 * .banner
 * 
 */

.banner {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 100;
  padding: 0 3rem;
  height: 240px;
  background-color: $color--neutral-xxxdark;
  background-image: url('img/circuit-grey-small.svg');
  background-repeat: no-repeat;
  background-position: 1.5rem 100%;
  text-align: center;

  @include mq-medium {
    height: 300px;
    background-image: url('img/circuit-grey-big.svg');
    background-position: 3rem 100%;
  }
}

/**
 * .banner--large
 * 
 */

.banner--large {
  height: 270px;

  @include mq-medium {
    height: 360px;
  }
}

/**
 * .banner__heading
 * 
 */

.banner__heading {
  position: relative;
  z-index: 2;
  color: #fff;
  font-size: 3.6rem;
  font-weight: 100;
  transition: font 0.2s;

  @include mq-small {
    font-size: 4.2rem;
  }

  @include mq-medium {
    font-size: 4.8rem;
  }

  @include mq-large {
    font-size: 5.4rem;
  }
}

.banner__heading > span {
  font-weight: 700;
}

/**
 * .banner__img
 * 
 * Used for big images...like on home page
 */

.banner__img {
  display: block;
  position: absolute;
  z-index: 1000;
  top: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 210px;
  animation: bannerImgAnimation 5s ease infinite;

  @include mq-small {
    width: 240px;
  }

  @include mq-medium {
    width: 300px;
  }

  @include mq-medium {
    width: 350px;
  }
}

.banner__img img {
  display: block;
  max-width: 100%;
  height: auto;
}

@keyframes bannerImgAnimation {
  0% { transform: translateY(-1rem); }
  50% { transform: translateY(1rem); }
  100% { transform: translateY(-1rem); }
}