// -----------------------------------------------------------------------------
//
// CONFIG - VARIABLES
//
// -----------------------------------------------------------------------------

$font-family--primary: "Montserrat", Helvetica, sans-serif;

$font-size--small: 14px;
$font-size--medium: 18px;
$font-size--large: 22px;
$font-size--xlarge: 28px;
$font-size--xxlarge: 36px;
$font-size--xxxlarge: 42px;

$line-height--small: 1.1;
$line-height--medium: 1.6;
$line-height--large: 2.2;






// -----------------------------------------------------------------------------
//
// COLORS
//
// -----------------------------------------------------------------------------

$color--neutral-xxdark: #111;
$color--neutral-xdark: #333;
$color--neutral-dark: #555;
$color--neutral: #777;
$color--neutral-light: #999;
$color--neutral-xlight: #aaa;
$color--neutral-xxlight: #ccc;

$color--blue: #2980B9;
$color--blue-dark: #1F618D;

// 
// #1A5276