/* -----------------------------------------------------------------------------

  ELEMENTS - TEXT
  
----------------------------------------------------------------------------- */

a {
  color: $color--blue;
  text-decoration: none;
  transition: color 0.2s, background 0.2s;
}

a:hover {
  color: $color--blue-dark;
}

p {
  margin: 0;
  padding: 0;
}