/* -----------------------------------------------------------------------------

  ELEMENTS - ROOT
  
----------------------------------------------------------------------------- */

html,
body {

}

body {
  color: #555;
  font-family: $font-family--primary;
  font-weight: 400;
}