/* -----------------------------------------------------------------------------

  ELEMENTS - ROOT
  
----------------------------------------------------------------------------- */

html,
body {

}

body {
  color: $color--neutral;
  font-family: $font-family--primary;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.6;
  text-rendering: optimizeLegibility;
}