/* -----------------------------------------------------------------------------

  ELEMENTS - TEXT
  
----------------------------------------------------------------------------- */

a {
  text-decoration: none;
  transition: color 0.2s, background 0.2s;
}

p {
  margin: 0;
  padding: 0;
}