/* -----------------------------------------------------------------------------

  ELEMENTS - TEXT
  
----------------------------------------------------------------------------- */

/**
 * links
 * 
 */
a {
  color: $color--theme;
  text-decoration: none;
  transition: color 0.2s, background 0.2s;
}

a:hover {
  color: $color--theme-dark;
}

/**
 * paragraphs
 */

p {
  margin: 0;
  padding: 0;
}