/* -----------------------------------------------------------------------------

  OBJECTS -> HEADER
  
----------------------------------------------------------------------------- */

.header {
  display: flex;
  align-items: center;
  padding: 1.5rem;
  background-color: $color--blue;
}

.header__logo {
  flex: 1;
  position: relative;
  z-index: 1000;
  color: #fff;
  font-size: 3.2rem;
}

.header__logo > span {
  color: $color--neutral-xxdark;
}