/* -----------------------------------------------------------------------------

  OBJECTS - MAIN
  
----------------------------------------------------------------------------- */

/**
 * .main
 * 
 */

.main {
  position: relative;
  padding: 3rem 0;
  background-color: #fff;
  background-image: url('img/circuit-ltgrey-small.svg');
  background-repeat: no-repeat;
  background-position: 1.5rem 0;

  @include mq-small {
    padding: 6rem 0;
  }

  @include mq-medium {
    background-image: url('img/circuit-ltgrey-big.svg');
    background-position: 3rem 0;
  }
}