<nav>
  <ul>
    <li ui-sref-active="active"><a ui-sref="home">Home</a></li>
    <li ui-sref-active="active" ng-class="{ 'hidden' : isAuth == false }"><a ui-sref="ferd">Ferd</a></li>
    <li ui-sref-active="active" ng-class="{ 'hidden' : isAuth == true }"><a ui-sref="login">Log in</a></li>
    <li ui-sref-active="active" ng-class="{ 'hidden' : isAuth == false }"><a href='#/' ng-click="logout()">Log out</a></li>
    <li ui-sref-active="active"><a ui-sref="marketplace">Marketplace</a></li>
  </ul>
</nav>