<div ng-controller="AuthController as auth">

  <header-directive></header-directive><!-- /header -->

  <div class="banner">
    <h2 class="banner__heading"><span>Log in</span> here</h2>
  </div><!-- /banner -->

  <main class="main">
    <div class="container container--pad container--narrow">
      <alerts-directive alert="auth.alert" ng-show="auth.showAlert"></alerts-directive>
      <form action="#" ng-submit="auth.login($event)" class="form">
        <div class="form__field">
          <div class="form__label">
            <label for="username">Username:</label>
          </div>
          <div class="form__input">
            <input type="text" name="username" id="username" class="form__text" ng-model="auth.user.username">
          </div>
        </div>
        <div class="form__field">
          <div class="form__label">
            <label for="username">Password:</label>
          </div>
          <div class="form__input">
            <input type="password" name="password" id="password" class="form__text" ng-model="auth.user.password">
          </div>
        </div>
        <div class="form__footer">
          <button type="submit" class="btn btn--primary">Log In</button>
        </div>
        <div class="form__footnotes">
          Not a member? <a ui-sref="signup">Sign up!</a>
        </div>
      </form>
    </div><!-- /container -->
  </main><!-- /main -->
  
  <spinner-directive display="auth.showSpinner"></spinner-directive>

  <footer-directive></footer-directive><!-- /footer -->
  
</div>