<div ng-controller="AuthController as auth">
  
  <header-directive class="header">
  </header-directive><!-- /header -->

  <div class="banner">
    <h2 class="banner__heading"><span>Sign up</span> to get Ferded</h2>
  </div><!-- /banner -->

  <h3>Sign Up Below!</h3>
  <form action="#" name="signupForm" class="form" ng-submit="auth.signup($event)" novalidate>
    <p ng-class="{ 'has-error' : signupForm.username.$invalid && !signupForm.username.$pristine }">
      <input
        type="text"
        name="username"
        placeholder="Username"
        ng-model="auth.user.username"
        ng-minlength="3" minlength="3"
        ng-maxlength="8" maxlength="8"
        ng-required required>
    </p>
    <p>
      <input type="text" placeholder="Slack team name" ng-model="auth.user.slackOrganization" ng-required>
      {{ auth.user.slackOrganization }}.slack.com
    </p>
    <p>
      <input type="password" placeholder="Password" ng-model="auth.user.password" ng-required>
    </p>
    <p><button type="submit">Sign Up</button></p>
  </form>
  <p>Already a member? <a ui-sref="login">Log in!</a></p>
  <hr>
  <alerts-directive alert="auth.alert" ng-show="auth.showAlert"></alerts-directive>
</div>
