<div ng-controller="AuthController as auth">
  <h3>Sign Up Below!</h3>
  <form action="#" ng-submit="auth.signup($event)">
    <p><input type="text" placeholder="username" ng-model="auth.user.username"></p>
    <p><input type="text" placeholder="slack team name" ng-model="auth.user.slackOrganization"></p>
    <p><input type="password" placeholder="password" ng-model="auth.user.password"></p>
    <p><button type="submit">Sign Up</button></p>
  </form>
  <p>Already a member? <a ui-sref="login">Log in!</a></p>
  <hr>
  <alerts-directive alert="auth.alert" ng-show="auth.showAlert"></alerts-directive>
</div>