<div ng-controller="CareersController as home">
  
  <header-directive></header-directive><!-- /header -->

  <div class="banner">
    <h2 class="banner__heading">Our <span>careers</span> listing...?</h2>
  </div><!-- /banner -->

  <main class="main">
    <div class="container container--pad container--wide">
      <h1 class="big-and-bold">Sorry, there are no jobs available at this time. The <strong><span>bots</span></strong> have taken them all.</h1>
    </div><!-- /container -->
  </main><!-- /main -->

  <footer-directive></footer-directive><!-- /footer -->

</div>