<div ng-controller="HomeController as home">
  
  <header-directive></header-directive><!-- /header -->

  <div class="banner banner--large">
    <img src="img/ferd.svg" alt="" class="banner__img">
  </div><!-- /banner -->

  <main class="main">
    <div class="container container--pad container--wide container--extra-pad-top">
      <section class="section section--m-md">
        <h1 class="big-and-bold">Welcome to <strong>Ferd<span>X</span></strong>, the official home of <strong>Ferd</strong> the Slackbot.</h1>
      </section>
      <section class="section section--m-md">
        <img src="img/demo.gif" alt="" class="section__img">
      </section>
      <section class="section section--m-md">
        <h1 class="big-and-bold">To get started, <strong><a ui-sref="signup">sign up</a></strong>, and get <strong>Ferd</strong> in your Slack Organization.</h1>
      </section>
      <section class="section section--m-md">
        <ol class="section__big-list">
          <li>Sign up with a username, password, and Slack Organization name</li>
          <li>Create your Slackbot and verify it with FerdX</li>
          <li>Supercharge your bot with Ferd's powers!</li>
        </ol>
      </section>
      <section class="section section--m-md">
        <h1 class="big-and-bold">Head over to the <strong><a ui-sref="marketplace">marketplace</a></strong> to see all of <strong>Ferd's</strong> powers.</h1>
      </section>
    </div><!-- /container -->
  </main><!-- /main -->

  <footer-directive></footer-directive><!-- /footer -->

</div>