<div ng-controller="GetFerdController as getferd">

  <hr>
  
  <div class="login" ng-controller="AuthController as auth">
    
    <p>Log in below to access your Ferd panel!</p>
    <form action="#" ng-submit="auth.login($event)">
      <p><input type="text" placeholder="username"></p>
      <p><input type="password" placeholder="password"></p>
      <p><button type="submit">Log In</button></p>
    </form>

    <hr>

    <p>Not yet a member? Sign up!</p>
    <div ng-show="!!message">{{ message }}</div>
    <form action="#" ng-submit="auth.signup($event)">
      <p><input type="text" placeholder="username" ng-model="auth.user.username"></p>
      <p><input type="text" placeholder="slack channel name" ng-model="auth.user.slackchannel"></p>
      <p><input type="password" placeholder="password" ng-model="auth.user.password"></p>
      <p><button type="submit">Sign Up</button></p>
    </form>
  </div>

  <!-- <p>Hey hey, do you want to add ferd? <a href="#" ng-click="getferd.oauthAuthorize($event)">Click here!</a></p> -->
</div>