<div class="config" ng-controller="AuthController as auth">

  <p>User has Auth!</p>
  <!-- <div ng-show="!auth.authUser.botKey">
    I have a bot!
    
    <pre>
    {{ auth.authUser }}
    </pre>
  </div> -->

  <!-- <div ng-show="!auth.hasBot">
    <p>It looks like you don't yet have a Ferd bot. Visit <a href="https://{{auth.slackOrg}}/services/new/bot" target="_blank">https://{{auth.slackOrg}}/services/new/bot</a> to get started! Once you generate an API token, paste it here.</p>

    <form action="#" ng-submit="auth.saveKey($event)">
      <p><input type="text" placeholder="API Token" ng-model="auth.user.botKey"></p>
      <p><button type="submit">Save</button></p>
    </form>
    
    <hr>
  </div> -->

  <form action="#" ng-submit="auth.logout($event)">
    <button type="submit">Log Out</button>
  </form>

</div>